.page{
    justify-content: center;
    text-align: center;
    background-color:inherit;
}

.title{
    font-size:35px;
    font-weight:bolder
}

.like_lists_container{
    height: auto;
   display: flex;
   flex-wrap: wrap;
   left: 10%;
   position: absolute;
  
   right:10%;
   padding-bottom:20px;
    
}
.each{
    background-color:inherit;
    margin-right:15px;
    margin-left:23px;
    margin-bottom: 20px;
    width:234px;
    height:352px;
    
}

.each:hover .img{
   height:310px ;
   transition: 1s;
   background-position: bottom;
}

.img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:234px;
    height:352px;
    
 }

 .each:hover .button_blow{
     height:42px;
     /* transition: 1s; */
 }

 .button_blow{
     display: flex;
     text-align: left;
     z-index: -1;
     height:0;
 }

 .button_blow > div {
     width:30px;
     cursor: pointer;
     margin:6px;
 }

 .trash{
     background-image: url('./trash_can.png');
     background-repeat: no-repeat;
     background-size: cover;
 }
 .discard{
    background-image: url('./no_entry.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.dots{
    background-image: url('./threeDots.png');
    background-repeat: no-repeat;
    background-size: cover;
}
 